<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>Обо мне</h2>
							</header>

							<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>

							<p>Привет, меня зовут Дмитрий.</p>
							<p>Занимаюсь разработкой web приложений, плагинов, модулей, дополнений к различным системам управления контентом (CMS), разработкой и сопровождением сайтов различной степени сложности. Специализируюсь на интернет-магазинах. Являюсь официальным сертифицированным специалистом по 1С Битрикс. Могу работать как самостоятельно, так и в команде.</p>

						</div>
					</section>