					<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Связь</h2>
							</header>

							<p>Итак, у вас есть работа для меня или остались вопросы?</p>

							<form method="post" action="#">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Отправить сообщение" />
									</div>
								</div>
							</form>

						</div>
					</section>