<!DOCTYPE HTML>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
		<meta charset="utf-8" />
		<meta name="description" content="{{ site.description }}" />
		<meta property="og:title" content="{{ site.name }}" />
		<meta property="og:image" content="{{ site.avatar }}" />
		<meta property="og:description" content="{{ site.description }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="assets/css/main.css" />
		
		<!-- third-generation iPad with high-resolution Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon/favicon_144.png">
		<!-- iPhone with high-resolution Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/favicon_114.png">
		<!-- first- and second-generation iPad: -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon/favicon_72.png">
		<!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<link rel="apple-touch-icon-precomposed" href="images/favicon/favicon_57.png">
		<!-- basic favicon -->
		<link rel="shortcut icon" href="images/favicon/favicon_32.png">
	</head>
	<body class="is-preload">
<!--<link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">-->
  <!--<body class="bg-white min-height-full" {% if site.style == 'dark' %}style="background-color: #2f363d !important"{% endif %}>-->
    <!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="{{ site.avatar }}" alt="" /></span>
							<h1 id="title">Савельев Дмитрий</h1>
							<p>DevOps Engineer</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon solid fa-home">Интро</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Портфолио</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">Обо мне</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Связь</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							{% if site.social_media %}
								{% for account in site.social_media %}
									{% assign service_shortname = account[0] %}
									{% assign service = site.data.social_media[service_shortname] %}
									
									<li><a href="{{ service.profile_url_prefix }}{{ account[1] }}">{{ service.icon_svg }}<span class="label"></span></a></li>
								{% endfor %}
							{% endif %}
						</ul>

				</div>

			</div>
    
