<!DOCTYPE HTML>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
		<meta charset="utf-8" />
		<meta name="description" content="{{ site.description }}" />
		<meta property="og:title" content="{{ site.name }}" />
		<meta property="og:image" content="{{ site.avatar }}" />
		<meta property="og:description" content="{{ site.description }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="assets/css/main.css" />
		
		<!-- third-generation iPad with high-resolution Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon/favicon_144.png">
		<!-- iPhone with high-resolution Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/favicon_114.png">
		<!-- first- and second-generation iPad: -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon/favicon_72.png">
		<!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<link rel="apple-touch-icon-precomposed" href="images/favicon/favicon_57.png">
		<!-- basic favicon -->
		<link rel="shortcut icon" href="images/favicon/favicon_32.png">
	</head>
	<body class="is-preload">
    <!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="{{ site.avatar }}" alt="" /></span>
							<h1 id="title">Савельев Дмитрий</h1>
							<p>DevOps Engineer</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								{% if site.menu %}
								{% for nav in site.menu %}
									{% assign nav_shortname = nav[0] %}
									{% assign nav_menu = site.data.menu[nav_shortname] %}
									<li><a href="#{{ nav_menu.url }}" id="{{ nav_menu.id_class }}"><span class="icon solid {{ nav_menu.icon_class }}">{{ nav_menu.name }}</span></a></li>
									{% endfor %}
								{% endif %}
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							{% if site.social_media %}
								{% for account in site.social_media %}
									{% assign service_shortname = account[0] %}
									{% assign service = site.data.social_media[service_shortname] %}
									<li><a href="{{ service.profile_url_prefix }}{{ account[1] }}" title="{{ service.name }}" target="_blank">{{ service.icon_svg }}<span class="label"></span></a></li>
								{% endfor %}
							{% endif %}
						</ul>

				</div>

			</div>
    
